@import url('https://fonts.googleapis.com/css?family=Russo+One');
@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
    background-color: #C4CEDF;
    font-family: 'Roboto', sans-serif;
}
/* Fonts */
.warningMsg{
    font-weight:bold;
    color:#801515;
}

/* Images */
.logo{
    width:100px;
}
.logo-header{
    width:60px;
}

/* Spacing */
.ta-c{
    text-align:center;
}
.d-f{
    display:flex;
}
.d-ib{
    display:inline-block;
}
.f-1{
    flex: auto;
}
.a-r {
    margin-left: auto;
}
.mb-5{
    margin-bottom:5px;
}
.mb-10{
    margin-bottom:10px;
}
.mb-20{
    margin-bottom:20px;
}
.mb-25{
    margin-bottom:25px;
}
.ml-20{
    margin-left:20px;
}
.mr-20{
    margin-right: 20px;
}
.mt-10{
    margin-top:10px;
}
.mt-77{
    margin-top:77px;
}

/* buttons */
.btn-login{
    background-color: #324977;
    font-size:16px;
    color: #CEAB68;
    width: 150px;
    padding:10px;
    border-color:#10151F;
    border-radius:5px;
    margin-right: 25px;
}
.btn-login:hover{
    background-color:#4C6189;
}

.btn-nav{
    background-color: #324977;
    font-size:16px;
    color: #CEAB68;
    padding:10px;
    border-color:#10151F;
    border-radius:5px;
    margin-right: 25px;
    margin-top:10px;
}
.btn-nav:hover{
    background-color:#4C6189;
}

.btn-new{
    background-color: #324977;
    font-size:14px;
    color: #D98C00;
    padding:10px;
    border-color:#10151F;
    border-radius:5px;
    margin-left: 25px;
    margin-bottom:10px;
}
.btn-new:hover{
    background-color:#4C6189;
}

.btn-active{
    background-color: #CEAA68;
    font-size:14px;
    color: #10151F;
    padding:10px;
    border-color:#10151F;
    border-radius:5px;
    margin-left: 25px;
    margin-bottom:10px;
    width:125px;
}

.btn-inactive{
    width:125px;
    opacity:.5;
    background-color: #D5D8DC;
    font-size:14px;
    color: #4C6189;
    padding:10px;
    border-color:#ABB5C6;
    border-radius:5px;
    margin-left: 25px;
    margin-bottom:10px;
}
.btn-inactive:hover{
    background-color:#CEAA68;
    opacity:.8;
}
/* Headers */
.header-main{
    width:100%;
    font-family: 'Russo One', sans-serif;
    background-color: white;
    padding-top:10px;
    font-size: 30px;
    border-bottom: 4px solid #324977;
    position:fixed;
    z-index:1;
}
.header-player-pool{
    color: #10151F;
    font-size:20px;
    font-family: 'Russo One', sans-serif;
}

.header-login{
    font-family: 'Russo One', sans-serif;
    font-size: 36px;
    text-align: center;
    margin: 30px;
    color: #10151F;
}
.header-shotlogger{
    font-size:16px;
    font-family: 'Russo One', sans-serif;
}

/* Containers */
.page-content{
    padding-top:120px;
}
.login-container{
    text-align:center;
    margin-bottom:25px;
}

.logo-container{
    text-align:center;
}
.card-container{
    padding:5px;
}
.card-container:hover{
    background-color: #5B759D;
    border-radius:10px;
}
.court-dashboard{
    background-color: white;
    margin:20px;
    border-radius:10px;
    border: 2px solid #10151F;
}
.court-container{
    text-align:center;
}
.court{
    background:url("./court.svg")
}

.roster-container{
    border: 1px solid black;
    border-radius:10px;
    padding: 20px;
    margin: 5px;
    min-height:250px;
}

.player-pool-container{
    margin:10px;
    border:1px solid #10151F;
    border-radius: 10px;
    padding: 20px;
    width:90%;
}

/* Inputs and Dropdowns */

.input{
    background-color:transparent;
    border-bottom: 2px solid #10151F;
    border-top: transparent;
    border-left: transparent;
    border-right:transparent;
    font-size:20px;
    color:#10151F;
}
.input::placeholder{
    color:#424B5D;
}

.select-season{
    width:140px;
    border-color:#10151F;
    color: #10151F;
    background-color: #C4CEDF;
}

.select-player{
    width:140px;
    font-size:18px;
    border-color:#10151F;
    color: #10151F;
    background-color: #C4CEDF;
}

/* Tables */
td{
    padding-right:20px;
    text-align:right;
}
th{
    font-family: 'Russo One', sans-serif;
    padding-right:10px;
    padding-bottom:10px;
    padding-top:5px;
}
tr{
    border-bottom:1px solid black;
}
.section-break{
    width:100%;
    border-bottom:1px solid #10151F;
}


/* modal */
.modalContent{
    margin-top:20%;
}
.modalOuter{
    position:relative;
    width: 40%;
    margin: 40px auto;
}
.newPlayerModal{
    position:absolute;
    top:30%;
    text-align:center;
    background-color:white;
    border: 1px solid #10151F;
    width:400px;
    height: 400px;
    z-index: 100;
}

/* ShotChart Styles */
.shot-chart-court *{fill:transparent;stroke:#333;stroke-width:0.1}
.shot-chart-court-ft-circle-bottom{stroke-dasharray:1.5, 1}
.shot-chart-court-hoop,.shot-chart-court-backboard{z-index:100}
.shot-chart-title{font-size:15%;text-transform:uppercase}
.legend text{font-size:4%}

