.card {
  background: #fff;
  border-radius: 10px;
  height: 140px;
  position: relative;
  width: 100px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: left;
  margin:5px;
  padding-bottom:5px;
}

.card > .img-container {
  height: 60%;
  overflow: hidden;
  text-align: center;
  background:#B8ACAC;
}
.card > .img-container > img {
  width: 100%;
  border-radius: 10px;
}

.card > .content {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 10px;
}

.card-name{
  padding-top:5px;
  padding-bottom:5px;
  font-size:12px;
  font-family: 'Russo One', sans-serif;
}
.card-attr{
  padding-top:2px;
}


@media (max-width: 768px) {
  .card > .img-container {
    display:none;
  }

  .card {
    background: #A0AFCA;
    border-radius: 10px;
    height: fit-content;
    position: relative;
    width: fit-content;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    text-align: left;
    margin:5px;
    padding-bottom:5px;
  }
}
